<%- include("../includes/header.ejs", {title:"Account - " + account[0].first_name +" " + account[0].last_name }); %>
<h1>Account</h1>
<ul>
    <li>First Name: <%= account[0].first_name %></li>
    <li>Last Name: <%= account[0].last_name %></li>
    <li>E-mail: <%= account[0].email %></li>
    <li>Company:
        <ul>
            <% for(var i=0; company.length > i; i++ ) { %>
            <li><%= company[i].company_name %></li>
            <% }%>
        </ul>
    </li>
    <li>School:
        <ul>

            <%for(var i=0; school.length > i; i++ ) {%>
            <li><%= school[i].school_name %></li>
            <% } %>

        </ul>
    </li>
    <li>Skill:
        <ul>
            <%for(var i=0; skill.length > i; i++ ) {%>
            <li><%= skill[i].skill_name %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>