<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>
<h1>Select your name from the menu to create a new Resume</h1>
<form action="/resume/add" method="get">

    Name
    <br />
    <select id="account_id" name="account_id" >
        <% for(var i=0; account.length > i; i++ ) { %>
        <option value="<%=account[i].account_id%>"><%=account[i].first_name%> <%=account[i].last_name%></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->

    <br />


    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>