<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>
<h1>Select your previous experience</h1>
<form action="/resume/insert" method="post">
    <input id="account_id" name="account_id" value="<%= accountid[0].account_id %>" type="hidden" >
    Resume Name: <input name="resume_name" id="resume_name" type="text" />

    <br />

    School(s)
    <br />
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; school.length > i; i++ ) { %>
        <option value="<%=school[i].school_id%>"><%=school[i].school_name%></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>
    <br />

    Company(s)
    <br />
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; company.length > i; i++ ) { %>
        <option value="<%=company[i].company_id%>"><%=company[i].company_name%></option>
        <% } %>
    </select>
    <br />
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>

    Skill(s)
    <br />
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) { %>
        <option value="<%=skill[i].skill_id%>"><%=skill[i].skill_name%></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>



    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>