<%- include("../includes/header.ejs", {title:"Resume - " + result.resume_name}); %>
<h1>Account</h1>
<ul>
    <li>First Name: <%= account[0].first_name %></li>
    <li>Last Name: <%= account[0].last_name %></li>
    <li>Company Applied for:
        <ul>
            <% for(var i=0; result[0].length > i; i++ ) { %>
            <li><%= result[0][i].company_name %></li>
            <% }%>
        </ul>
    </li>
    <li>Schools listed:
        <ul>

            <%for(var i=0; result[0].length > i; i++ ) {%>
            <li><%= result[0][i].school_name %></li>
            <% } %>

        </ul>
    </li>
    <li>Skills listed:
        <ul>
            <%for(var i=0; result[0].length > i; i++ ) {%>
            <li><%= result[0][i].skill_name %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/resume/all"><< back</a>

<%- include("../includes/footer.ejs"); %>