<%- include("../includes/header.ejs", {title:"Address - " + result[0].street + result[0].zip_code}); %>
<h1>Addresses</h1>
<ul>
    <li>Address street: <%= result[0].street %></li>
    <li>Address zip code: <%= result[0].zip_code %></li>
    <li>Company:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <% if(result[i].company_name != null){%>
            <li><%= result[i].company_name %></li>
            <% } }%>
        </ul>
    </li>
</ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>